$icon-font-path: '../fonts/';
$color_1: black;
$color_2: darkblue;
$font-family_1: FontAwesome;
$font-family_2: 'Arvo', courier, serif;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/bootstrap-social/bootstrap-social.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.content-template {
  padding: 0 14px;
  text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer,
.header {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: lightgray;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container-fluid {
  padding: 0px;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  color: $color_1;
  background-image: url('../images/earth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 150px;
  margin-bottom: 0;
  position: relative;
  h1 {
    font-family: $font-family_2;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px #ddd;
    margin-bottom: 42px;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.hr-top {
  height: 1em;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.headshot {
  border-radius: 1em;
  border: 2px solid #888;
  width: 200px;
  box-shadow: 4px 5px 28px -2px;
}
.projectpanel {
  transition: all 0.3s ease 0s;
  width: 100%;
  margin-top: 20px;
  &:hover {
    transform: scale(1.1);
    border-color: $color_2;
    border-width: 3px;
  }
}
.section-projects {
  height: 100%;
  padding-top: 50px;
  background-image: url('../images/laptop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section-contact {
  height: 95%;
  padding-top: 100px;
  background-image: url('../images/writing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

a.btn-showme {
  font-size: 130%;
  &:after {
    font-family: $font-family_1;
    content: "\f061";
    padding-left: 0.5em;
    vertical-align: middle;
  }
}
a.btn-learnmore {
  margin-top: 2em;
  position: absolute;
  bottom: 20px;
  right: 20px;
  &:after {
    font-family: $font-family_1;
    content: "\f103";
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
  }
}
a.btn-home {
  // margin-top: 1em;
  position: absolute;
  bottom: 20px;
  right: 20px;
  &:after {
    font-family: $font-family_1;
    content: "\f015";
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  // .container {
  //   max-width: 730px;
  // }
  /* Space out content a bit */
  body {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    height: 100%;
  }

  html {
    width: 100%;
    height: 100%;
  }
  .navbar {
    padding: 20px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }

  /* Remove the padding we set earlier */
  .footer,
  .header {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .prod {
    font-family: $font-family_2;
    font-size: 120%;
    text-shadow: 1px 1px 1px #ccc;
    margin: 22px;
    color: $color_2;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family_2;
    text-shadow: 2px 2px 2px #ddd;
    text-align: center;
  }
  .nav {
    font-family: $font-family_2;
  }
  .navbar-brand {
    font-family: $font-family_2;
  }
  .navbar-nav {
    font-size: 120%;
  }
  .jumbotron {
    h1 {
      font-size: 4em;
      margin-bottom: 0.5em;
    }
  }
}
